[submodule "jenkins-projs"]
	path = jenkins-projs
	url = https://github.com/Sora-mmh/jenkins-projs.git
[submodule "jenkins-shared-library"]
	path = jenkins-shared-library
	url = https://github.com/Sora-mmh/jenkins-shared-library.git
